/node_modules
/public/img/quadros
/public/img/tiposquadros
/public/frontend
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.*~
