.formulario {
  z-index: 1001;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  bottom: 0;
  top: 56px;
  background: white;
  text-align: center;
  display: none;
}

.imagem-principal {
  max-width: 100%;
  margin: auto;
  display: block;
}

.botao-flutuante {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0px;
  padding: 30px;
}

.input-section {
  display: block;
  margin: 10px auto;
}

.quadro.mdl-card {
  margin: 10px auto;
}
.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}
.content-grid {
  max-width: 960px;
}